.sedan{
    
    background-color:  hsl(31, 77%, 52%);
    padding: 2em;

}
.suv{
   background-color:  hsl(184, 100%, 22%);
     padding: 2em;
}
.luxury{
    background-color: hsl(179, 100%, 13%);
     padding: 2em;
}
.cars{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: content-box;
   
   

}
p{
    color: hsla(0, 0%, 100%, 0.75);
    text-align: justify;
    font-size: 15px;
}
body{
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    
}
html{
    min-height: 350px;
    max-height: 1440px;
}
